---

---

<section class="px-8 md:px-24 md:py-20 lg:p-20">
  <h1 id="about" class="custom-title my-6 md:my-0">Sobre nosotros</h1>
  <p class="custom-text w-fill md:w-full lg:w-[80%]">
    En Las Pampas, un rincón mágico de la cordillera chubutense, levantamos
    nuestra cabaña con amor y ganas de compartir este pedacito de Patagonia.
    Acá, entre montañas, valles verdes y cielos estrellados, te invitamos a
    desconectar del ruido y conectar con la naturaleza. Todo está pensado para
    que disfrutes de la paz, el paisaje y la calidez de un lugar hecho con el
    corazón. Venite, que te esperamos con mate listo y una experiencia que no
    vas a olvidar.
  </p>
</section>
