---
import ImageSlider from "../common/ImageSlider.astro";
import TypeWriter from "../common/TypeWriter.astro";

const amenities = [
  "Cocina comedor",
  "Baño",
  "Habitación principal con cama matrimonial y de 1 plaza",
  "Habitación con 4 camas de 1 plaza",
];
---

<section
  class="px-8 py-10 md:px-24 md:py-0 md:pb-6 lg:px-20 lg:py-0 lg:pb-20 md:mb-0 lg:mb-0 bg-gradient-to-t from-cyan-50/5 to-purple-200/80"
>
  <div class="flex flex-col md:flex-row justify-between">
    <div class="flex flex-col w-full md:w-[60%]">
      <h1 id="amenities" class="custom-title my-6 md:my-0">
        Vení a vivir una experiencia única
      </h1>
      <h2 class="text-xl font-bold max-w-mdl">
        Nuestra cabaña posee 4 ambientes y está totalmente equipada <br
          class="hidden md:hidden lg:block"
        />para 7 u 8 personas
      </h2>
      <div class="flex flex-col text-lg font-semibold mt-6">
        {
          amenities.map((amenity) => (
            <p class="flex items-start gap-2 ">
              <i class="fa fa-home text-violet-600 mt-1" aria-hidden="true" />
              <span>{amenity}</span>
            </p>
          ))
        }
      </div>
      <TypeWriter />
    </div>
    <ImageSlider />
  </div>
</section>
