---
const phoneNumber = "+5492945684793";
---

<section id="hero" class="relative">
  <img
    src="/paisaje3.webp"
    alt="Río de Dr. Atilio Oscar Viglione - Las Pampas"
    aria-label="Río de Las Pampas"
    class="h-screen w-screen object-cover"
  />
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <main class="absolute inset-0 flex items-center justify-start ml-5">
    <div class="animate-fadeIn custom-shadow">
      <span
        class="text-slate-400 text-lg md:text-xl lg:text-2xl tracking-widest"
        >LAS PAMPAS | CHUBUT
      </span>
      <h1 class="text-slate-200 text-6xl md:text-7xl lg:text-8xl font-black">
        Cabaña Andesita
      </h1>
    </div>
    <div
      class="absolute bottom-20 left-[49%] right-[49%] transform -translate-x-1/2 flex flex-col items-center w-3/4"
    >
      <p
        class="text-slate-100 text-center text-xl md:text-3xl font-extrabold mb-[5px]"
      >
        ¡No te pierdas las maravillas de este lugar!
      </p>
      <a
        href={`tel:${phoneNumber}`}
        class="custom-button custom-shadow cursor-pointer"
      >
        <span class="uppercase text-nowrap">Contactanos</span>
      </a>
    </div>
  </main>
</section>
