---
import PhoneIcon from "~/assets/PhoneIcon.astro";
import PlaceIcon from "~/assets/PlaceIcon.astro";
---

<section class="px-8 md:px-24 md:py-20 lg:p-20 mb-10">
  <h1 id="contact" class="text-2xl md:text-4xl lg:text-4xl">Contacto</h1>

  <div class="flex flex-col lg:flex-row items-start gap-4 lg:gap-10 mt-4">
    <div class="flex items-center gap-4">
      <PlaceIcon />
      <p class="mt-2">Las Pampas</p>
    </div>

    <div class="flex items-center gap-4">
      <PhoneIcon />
      <p class="mt-2">+54 9 2945684793</p>
    </div>
  </div>
</section>
