---
import InstagramIcon from "~/assets/InstagramIcon.astro";
import PhoneIcon from "~/assets/PhoneIcon.astro";
import WhatsAppIcon from "~/assets/WhatsAppIcon.astro";
---

<footer class="w-full h-15 border-indigo-100 border-t-2 bg-indigo-50 p-8">
  <div class="flex justify-between items-center text-gray-500">
    <p>Andesita - 2024</p>
    <div class="flex justify-between items-center gap-6">
      <a href="tel:+5492945684793">
        <PhoneIcon />
      </a>
      <a href="/">
        <InstagramIcon />
      </a>
      <a href="https://wa.me/+5492945684793">
        <WhatsAppIcon />
      </a>
    </div>
  </div>
</footer>
