---
import { GOOGLE_MAPS_API_KEY } from "astro:env/server";
import PlaceIcon from "~/assets/PlaceIcon.astro";
---

<div class="lg:flex justify-between">
  <section class="px-8 md:px-24 md:py-20 lg:pb-0">
    <h1 id="services" class="text-2xl md:text-4xl lg:text-4xl mb-4 mt-8">
      Nuestra ubicación
    </h1>
    <div class="mb-8 md:mb-0 lg:mb-0">
      <p>
        Situada en el corazón de la naturaleza, nuestra cabaña Andesita te
        ofrece una experiencia única de desconexión y paz.
      </p>
      <p>
        A solo 2 horas del límite con Chile, te vas a sumergir en el corazón de
        la cordillera patagónica, es un lugar rodeado de bosques nativos,
        arroyos cristalinos y aire puro de montaña.
      </p>
    </div>
    <div class="flex items-center gap-4 mb-10 lg:mt-10 md:mt-10 md:mb-0">
      <PlaceIcon />
      <p class="text-lg font-semibold text-violet-600">
        Dr. Atilio Oscar Viglione - Las Pampas
      </p>
    </div>
  </section>
  <div id="map" class="w-full h-96 lg:w-12/12 lg:h-[500px]"></div>
</div>

<script
  defer
  src={`https://maps.googleapis.com/maps/api/js?key=${GOOGLE_MAPS_API_KEY}&libraries=places&callback=initMap`}
></script>
<script>
  let map;
  async function initMap(): Promise<void> {
    const position = { lat: -44.1907771, lng: -71.664813 };

    //@ts-ignore
    const { Map } = (await google.maps.importLibrary(
      "maps",
    )) as google.maps.MapsLibrary;
    const { AdvancedMarkerElement } = (await google.maps.importLibrary(
      "marker",
    )) as google.maps.MarkerLibrary;

    map = new Map(document.getElementById("map") as HTMLElement, {
      zoom: 16,
      center: position,
      mapId: "DEMO_MAP_ID",
    });

    new AdvancedMarkerElement({
      map: map,
      position: position,
      title: "Dr. Atilio Oscar Viglione",
    });
  }

  initMap();
</script>
