---

---

<section id="container" class="relative">
  <img
    src="/paisaje.webp"
    alt="Imagen de fondo"
    aria-label="Río de Las Pampas"
    class="h-screen w-screen object-cover"
  />
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <main class="absolute inset-0 flex items-center justify-start ml-5 lg:ml-16">
    <div class="animate-fadeIn">
      <span
        class="text-slate-400 text-lg md:text-xl lg:text-2xl tracking-widest"
        >LAS PAMPAS | CHUBUT
      </span>
      <h1 class="text-slate-200 text-6xl md:text-7xl lg:text-8xl font-black">
        Andesita
      </h1>
    </div>ß
  </main>
</section>
