---

---

<div id="container" class="relative">
  <video
    src="/rio.mp4"
    autoplay
    muted
    title="Río de Las Pampas"
    aria-label="Río de Las Pampas"
    loop
    class="opacity-50 h-screen w-screen object-cover"></video>
  <main class="absolute inset-0 flex items-center justify-center text-center">
    <div class="animate-fadeIn">
      <h1 class="text-white text-4xl">Te damos la bienvenida a cabañas</h1>
      <span class="text-indigo-500 text-6xl font-bold italic">Andesita</span>
    </div>
  </main>
</div>
