---

---

<section class="mb-10">
  <!-- Imagen que se muestra solo en pantallas chicas -->
  <div class="relative group outline-none block md:hidden">
    <img
      src="/images/foto_1.webp"
      alt="Cabaña Andesita con montañas y río en Las Pampas, Chubut"
    />
    <div
      class="absolute bottom-0 left-0 w-full h-5/6 bg-gradient-to-t from-black/90 to-transparent"
    >
    </div>
    <a
      href="/galeria"
      class="absolute bottom-12 left-1/2 transform -translate-x-1/2 custom-button custom-shadow hover:cursor-pointer"
    >
      <span class="uppercase text-nowrap text-slate-50 font-bold"
        >Ver más fotos</span
      >
    </a>
  </div>

  <!-- Contenedor para imágenes en pantallas medianas y grandes -->
  <div
    class="hidden md:grid md:grid-cols-2 md:gap-2 lg:flex lg:flex-nowrap lg:justify-between"
  >
    <img
      src="/paisaje2.webp"
      alt="Vista de a las Cordilleras desde la Cabaña Andesita"
      class="mb-10 md:w-full lg:w-[24%] lg:object-cover rounded-md"
    />
    <img
      src="/paisaje4.webp"
      alt="Vista de a las Cordilleras y animales desde la Cabaña Andesita"
      class="mb-10 md:w-full lg:w-[24%] lg:object-cover rounded-md"
    />
    <img
      src="/paisaje5.webp"
      alt="Vista de a las Cordilleras y a los caballos desde la Cabaña Andesita"
      class="mb-10 md:w-full lg:w-[24%] lg:object-cover rounded-md"
    />
    <img
      src="/paisaje6.webp"
      alt="Vista de a las Cordilleras y la naturaleza desde la Cabaña Andesita"
      class="mb-10 md:w-full lg:w-[24%] lg:object-cover rounded-md"
    />
  </div>
</section>
