---

---

<section class="mb-10">
  <!-- Imagen que se muestra solo en pantallas chicas -->
  <div class="relative group outline-none">
    <img src="/images/foto_1.webp" alt="Paisaje" class="block md:hidden" />
    <div
      class="absolute bottom-0 left-0 w-full h-5/6 bg-gradient-to-t from-black/90 to-transparent"
    >
    </div>
    <button
      class="absolute bottom-12 left-1/2 transform -translate-x-1/2 custom-button custom-shadow font-bold hover:cursor-pointer"
      onclick="window.location.replace('/gallery')"
    >
      <span>Ver más fotos</span>
    </button>
  </div>

  <!-- Contenedor para imágenes en pantallas medianas y grandes -->
  <div
    class="hidden md:grid md:grid-cols-2 md:gap-2 lg:flex lg:flex-nowrap lg:justify-between"
  >
    <img
      src="/paisaje2.webp"
      alt="Paisaje"
      class="mb-10 md:w-full lg:w-[24%] lg:object-cover rounded-md"
    />
    <img
      src="/paisaje4.webp"
      alt="Paisaje"
      class="mb-10 md:w-full lg:w-[24%] lg:object-cover rounded-md"
    />
    <img
      src="/paisaje5.webp"
      alt="Paisaje"
      class="mb-10 md:w-full lg:w-[24%] lg:object-cover rounded-md"
    />
    <img
      src="/paisaje6.webp"
      alt="Paisaje"
      class="mb-10 md:w-full lg:w-[24%] lg:object-cover rounded-md"
    />
  </div>
</section>
