---

---

<nav class="bg-slate-300 bg-opacity-20 backdrop-blur-sm absolute w-full z-20">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/logo4.webp" alt="Logo de Andesita" width="150px" />
    </a>

    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <a
        id="menu-button"
        data-collapse-toggle="navbar-sticky"
        data-nav-toggle="#navbar-sticky"
        href="#"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm md:hidden hover:outline-none focus:outline-none"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="#cbd5e1"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </a>
    </div>

    <div
      id="menu-open"
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 navbar"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
        <li>
          <a
            id="link-about"
            href="#about"
            class="btn block py-2 px-3 text-slate-300 rounded md:bg-transparen md:p-0 hover:text-slate-400"
            aria-current="page">Quiénes somos</a
          >
        </li>
        <li>
          <a
            id="link-contact"
            href="#contact"
            class="btn block py-2 px-3 text-slate-300 rounded md:bg-transparen md:p-0 hover:text-slate-400"
            >Contacto</a
          >
        </li>
        <li>
          <a
            id="link-gallery"
            href="/gallery"
            class="btn block py-2 px-3 text-slate-300 rounded md:bg-transparen md:p-0 hover:text-slate-400"
            >Galería de Fotos</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const currentPath = window.location.pathname;
  const button = document.querySelector("#menu-button") as Element;
  const menuOpen = document.querySelector("#menu-open") as Element;
  const links = document.querySelectorAll('[id*="link"]');

  button?.addEventListener("click", () => {
    menuOpen.classList.toggle("hidden");
  });

  links.forEach((link) => {
    link.addEventListener("click", (event) => {
      event.preventDefault();
      const href = link.getAttribute("href");
      const targetId = href?.substring(1);
      const targetElement = document.getElementById(targetId!);

      if (currentPath !== "/") window.location.replace(`/${href}`);
      if (targetId) {
        if (targetElement) {
          targetElement.scrollIntoView({ behavior: "smooth" });
        } else {
          window.location.replace(href!);
        }
      }
      menuOpen.classList.add("hidden");
    });
  });
</script>
