<div
  id="text-writer"
  class="mt-6 mb-6 md:mb-0 lg:mb-0 text-4xl min-h-[2rem] h-20 md:h-20 lg:h-auto font-signatra text-violet-700"
>
</div>

<script type="module">
  const textWriter = document.getElementById("text-writer");

  if (textWriter) {
    const text = "¡Vení a disfrutar de las vistas exclusivas de la Cordillera!";

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const element = entry.target;
            element.textContent = "";
            let charIndex = 0;
            const speed = 50;

            const type = () => {
              if (charIndex < text.length) {
                element.textContent += text.charAt(charIndex);
                charIndex++;
                setTimeout(type, speed);
              }
            };

            type();
            observer.unobserve(element);
          }
        });
      },
      { threshold: 0.5 }
    );

    observer.observe(textWriter);
  }
</script>
